# Stuart's DD Dataset
#### Attempted to Normalized using z-score for null values first but received this error:
ValueError: Input contains NaN, infinity or a value too large for dtype('float64').
#### Imputed mean for null values

In [1]:
import Configure_Dataset 
DD, y1, y2 = Configure_Dataset.configure('Competition1_raw_data.xlsx')
DD.head()

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,122.0,1.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,1,3.864345,11.111111,1,0,0
1,259.0,0.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,0,12.028832,0.000000,1,0,0
2,90.0,1.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,0,3.369134,0.000000,1,0,0
3,209.0,1.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,0,3.299697,0.000000,1,0,0
4,80.0,1.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,1,3.726269,5.000000,0,0,1

In [2]:
DD.isnull().sum()

C1                          0
C2                          0
C4                          0
C7                         60
%_long_sentences            0
%_long_words                3
%_positive_words            3
%_negative_words            2
%_uncertain_words           2
C3'                         0
C5'                         0
C6'                         0
one_hot_Manufacturing       0
one_hot_Other               0
one_hot_Public Services     0
dtype: int64

In [3]:
#importnumpy ndarray for use in sklearn
import Normalize

In [4]:
#use z score to normalize the data
DD = Normalize.z_score(DD)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [8]:
DD.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-0.181588,0.404995,0.654566,-0.287913,0.176554,0.310453,-0.251345,0.057427,-0.201253,1.046536,-0.107787,0.525006,1.003035,-0.347193,-0.806226
1,0.715586,-2.469165,-0.619777,-0.303969,0.232307,-0.110317,-1.181627,0.703523,-0.220083,-0.955533,1.483840,-0.497238,1.003035,-0.347193,-0.806226
2,-0.391147,0.404995,0.403480,-0.315697,0.130054,1.418052,3.614727,-0.934841,-0.032806,-0.955533,-0.204326,-0.497238,1.003035,-0.347193,-0.806226
3,0.388150,0.404995,0.382698,-0.314971,-1.121856,1.398322,2.517770,-0.639159,0.648229,-0.955533,-0.217863,-0.497238,1.003035,-0.347193,-0.806226
4,-0.456634,0.404995,-1.266863,0.079213,-0.506367,-0.529648,-0.456636,0.344982,-0.083112,1.046536,-0.134705,-0.037228,-0.996974,-0.347193,1.240347

In [3]:
import Impute
DD = Impute.impute_mean(DD)

In [4]:
DD.isnull().sum()

C1                         0
C2                         0
C4                         0
C7                         0
%_long_sentences           0
%_long_words               0
%_positive_words           0
%_negative_words           0
%_uncertain_words          0
C3'                        0
C5'                        0
C6'                        0
one_hot_Manufacturing      0
one_hot_Other              0
one_hot_Public Services    0
dtype: int64

In [10]:
import Combine
DDdata = Combine.combine(DD, y1, y2)
DDdata.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,Y1,Y2
0,-0.181588,0.404995,0.654566,-0.287913,0.176554,0.310453,-0.251345,0.057427,-0.201253,1.046536,-0.107787,0.525006,1.003035,-0.347193,-0.806226,0,1
1,0.715586,-2.469165,-0.619777,-0.303969,0.232307,-0.110317,-1.181627,0.703523,-0.220083,-0.955533,1.483840,-0.497238,1.003035,-0.347193,-0.806226,1,0
2,-0.391147,0.404995,0.403480,-0.315697,0.130054,1.418052,3.614727,-0.934841,-0.032806,-0.955533,-0.204326,-0.497238,1.003035,-0.347193,-0.806226,1,0
3,0.388150,0.404995,0.382698,-0.314971,-1.121856,1.398322,2.517770,-0.639159,0.648229,-0.955533,-0.217863,-0.497238,1.003035,-0.347193,-0.806226,1,1
4,-0.456634,0.404995,-1.266863,0.079213,-0.506367,-0.529648,-0.456636,0.344982,-0.083112,1.046536,-0.134705,-0.037228,-0.996974,-0.347193,1.240347,0,1