### I
- transform - square
- imp; bins mean
- norm; z score

In [16]:
import Configure_Dataset 
df, y1, y2 = Configure_Dataset.configure('Competition1_raw_data.xlsx')
df.head(10)

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,122.0,1.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,1,3.864345,11.111111,1,0,0
1,259.0,0.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,0,12.028832,0.000000,1,0,0
2,90.0,1.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,0,3.369134,0.000000,1,0,0
3,209.0,1.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,0,3.299697,0.000000,1,0,0
4,80.0,1.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,1,3.726269,5.000000,0,0,1
5,94.0,1.0,-0.057556,197.591,0.643137,0.045280,0.003445,0.005334,0.010056,1,5.724394,0.000000,0,0,1
6,128.0,1.0,0.004106,5.146,0.765657,0.044295,0.005204,0.006727,0.008567,0,3.463095,0.000000,1,0,0
7,91.0,0.0,0.040620,NaN,0.826347,NaN,0.004899,0.010689,0.010868,0,2.421469,0.000000,1,0,0
8,100.0,1.0,-0.029316,279.600,0.540323,0.061905,0.003915,0.008371,0.015797,0,4.816591,0.000000,0,0,1
9,106.0,1.0,-0.024925,494.008,0.514286,0.050252,0.008868,0.009853,0.016094,1,3.056608,0.000000,1,0,0

In [26]:
df1 = df[["C1","C2","C4","C7","C3'","C5'","C6'"]]
df2 = df[["%_long_sentences", "%_long_words","%_positive_words", "%_negative_words", "%_uncertain_words","one_hot_Manufacturing", "one_hot_Other", "one_hot_Public Services"]]

In [27]:
from Transform import skew_transform_square
df2 = skew_transform_square(df2)

/home/jupyter-mbrowne/2019-competition1-3-musketeers/Transform.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  data[key] = np.sqrt(data[key])

In [28]:
import Impute
df2 = Impute.impute_mean(df2)

In [29]:
import ImputeUsingBins
df1 = ImputeUsingBins.impute_bin_mean(df1)

KeyError: 'one_hot_Manufacturing'

In [21]:
from Transform import skew_transform_square
df1 = skew_transform_square(df1)

/home/jupyter-mbrowne/2019-competition1-3-musketeers/Transform.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  data[key] = np.sqrt(data[key])
/home/jupyter-mbrowne/2019-competition1-3-musketeers/Transform.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  data[key] = np.square(data[key])

In [22]:
import pandas as pd

In [23]:
df = pd.concat([df1, df2], axis=1) # df = pd.join([df1, df2])

In [24]:
df.isnull().sum()

C1                          0
C2                          0
C4                          0
C7                         60
C3'                         0
C5'                         0
C6'                         0
%_long_sentences            0
%_long_words                0
%_positive_words            0
%_negative_words            0
%_uncertain_words           0
one_hot_Manufacturing       0
one_hot_Other               0
one_hot_Public Services     0
dtype: int64

In [12]:
df.head(10)

,C1,C2,C4,C7,C3',C5',C6',%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,11.045361,1.0,0.029074,7.165543,1,1.965794,3.333333,0.410145,0.054250,0.069818,0.095911,0.104540,1,0.0,0
1,16.093477,0.0,-0.013352,5.092740,0,3.468261,0.000000,0.415707,0.051395,0.057080,0.105380,0.104286,1,0.0,0
2,9.486833,1.0,0.020715,2.716247,0,1.835520,0.000000,0.405535,0.061764,0.107669,0.079192,0.106783,1,0.0,0
3,14.456832,1.0,0.020023,2.919932,0,1.816507,0.000000,0.291205,0.061630,0.098420,0.084521,0.115407,1,0.0,0
4,8.944272,1.0,-0.034895,25.145536,1,1.930355,2.236068,0.345054,0.048550,0.067215,0.100236,0.106118,0,0.0,1
5,9.695360,1.0,-0.057556,14.056707,1,2.392571,0.000000,0.413626,0.045280,0.058691,0.073032,0.100280,0,0.0,1
6,11.313708,1.0,0.004106,2.268480,0,1.860939,0.000000,0.586230,0.044295,0.072137,0.082017,0.092559,1,0.0,0
7,9.539392,0.0,0.040620,15.404452,0,1.556107,0.000000,0.682850,0.053154,0.069995,0.103390,0.104248,1,0.0,0
8,10.000000,1.0,-0.029316,16.721244,0,2.194673,0.000000,0.291948,0.061905,0.062574,0.091493,0.125686,0,0.0,1
9,10.295630,1.0,-0.024925,22.226291,1,1.748316,0.000000,0.264490,0.050252,0.094170,0.099264,0.126861,1,0.0,0

In [13]:
from Normalize import z_score
df=z_score(df)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-0.090778,0.404995,0.654566,-0.526217,1.046536,-0.061700,1.048837,0.126002,0.310740,-0.183707,0.138340,-0.153713,1.003035,-0.347193,-0.806226
1,1.071518,-2.469165,-0.619777,-0.658606,-0.955533,2.318974,-0.707815,0.187801,-0.109924,-1.281225,0.774713,-0.173876,1.003035,-0.347193,-0.806226
2,-0.449619,0.404995,0.403480,-0.810392,-0.955533,-0.268120,-0.707815,0.074778,1.418058,3.077327,-0.985166,0.024533,1.003035,-0.347193,-0.806226
3,0.694691,0.404995,0.382698,-0.797383,-0.955533,-0.298247,-0.707815,-1.195491,1.398333,2.280455,-0.627084,0.709940,1.003035,-0.347193,-0.806226
4,-0.574540,0.404995,-1.266863,0.622161,1.046536,-0.117854,0.470583,-0.597202,-0.529148,-0.407989,0.428996,-0.028305,-0.996974,-0.347193,1.240347

In [14]:
import Combine
I = Combine.combine(df, y1, y2)
I.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,Y1,Y2
0,-0.090778,0.404995,0.654566,-0.526217,1.046536,-0.061700,1.048837,0.126002,0.310740,-0.183707,0.138340,-0.153713,1.003035,-0.347193,-0.806226,0,1
1,1.071518,-2.469165,-0.619777,-0.658606,-0.955533,2.318974,-0.707815,0.187801,-0.109924,-1.281225,0.774713,-0.173876,1.003035,-0.347193,-0.806226,1,0
2,-0.449619,0.404995,0.403480,-0.810392,-0.955533,-0.268120,-0.707815,0.074778,1.418058,3.077327,-0.985166,0.024533,1.003035,-0.347193,-0.806226,1,0
3,0.694691,0.404995,0.382698,-0.797383,-0.955533,-0.298247,-0.707815,-1.195491,1.398333,2.280455,-0.627084,0.709940,1.003035,-0.347193,-0.806226,1,1
4,-0.574540,0.404995,-1.266863,0.622161,1.046536,-0.117854,0.470583,-0.597202,-0.529148,-0.407989,0.428996,-0.028305,-0.996974,-0.347193,1.240347,0,1

In [15]:
import pandas as pd
I.to_csv('./Datasets/I_combo2.csv')