# Making pipelines 
Dataset A

In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import preprocessing
import matplotlib.pyplot as plt

#import custom functions
import Configure_Dataset
import Impute
import Normalize
import Combine
import Transform
import copy
import Feature_selection

In [2]:
data, y1, y2 = Configure_Dataset.configure('Competition1_raw_data.xlsx')

In [3]:
data.head()

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,122.0,1.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,1,3.864345,11.111111,1,0,0
1,259.0,0.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,0,12.028832,0.000000,1,0,0
2,90.0,1.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,0,3.369134,0.000000,1,0,0
3,209.0,1.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,0,3.299697,0.000000,1,0,0
4,80.0,1.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,1,3.726269,5.000000,0,0,1

In [4]:
cont_data = data.drop(columns = ["C2", "C3'", "one_hot_Manufacturing", "one_hot_Other", "one_hot_Public Services"], axis = 1)
cont_data.head()
                                 
y1_data = cont_data.copy()
y1_data = y1_data.drop("C6'", axis = 1)
y1_data.head()

,C1,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C5'
0,122.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,3.864345
1,259.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,12.028832
2,90.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,3.369134
3,209.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,3.299697
4,80.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,3.726269

In [5]:
cont_data = Impute.impute_knn(cont_data, 3)
y1_data = Impute.impute_knn(y1_data, 3)
cont_data.head()

/home/jupyter-khickey/.local/lib/python3.6/site-packages/impyute/util/preprocess.py:52: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  args[0] = args[0].as_matrix()

,0,1,2,3,4,5,6,7,8,9
0,122.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,3.864345,11.111111
1,259.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,12.028832,0.000000
2,90.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,3.369134,0.000000
3,209.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,3.299697,0.000000
4,80.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,3.726269,5.000000

In [6]:
from sklearn.preprocessing import PolynomialFeatures

pf = PolynomialFeatures(degree=2, interaction_only=False,  
                        include_bias=False)

res = pf.fit_transform(cont_data)
res_y1 = pf.fit_transform(y1_data)
cont_data_tr = pd.DataFrame(res)
y1_data = pd.DataFrame(res_y1)

In [7]:
y1_data.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,122.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,3.864345,14884.0,...,0.000024,0.000045,0.000053,0.018837,0.000085,0.000101,0.035547,0.000119,0.042232,14.933159
1,259.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,12.028832,67081.0,...,0.000011,0.000036,0.000035,0.039191,0.000123,0.000121,0.133580,0.000118,0.130820,144.692791
2,90.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,3.369134,8100.0,...,0.000134,0.000073,0.000132,0.039057,0.000039,0.000072,0.021129,0.000130,0.038417,11.351061
3,209.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,3.299697,43681.0,...,0.000094,0.000069,0.000129,0.031962,0.000051,0.000095,0.023572,0.000177,0.043948,10.888001
4,80.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,3.726269,6400.0,...,0.000020,0.000045,0.000051,0.016835,0.000101,0.000113,0.037439,0.000127,0.041961,13.885078

In [8]:
cont_data_tr.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,122.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,3.864345,11.111111,...,0.000085,0.000101,0.035547,0.102209,0.000119,0.042232,0.121428,14.933159,42.937161,123.45679
1,259.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,12.028832,0.000000,...,0.000123,0.000121,0.133580,0.000000,0.000118,0.130820,0.000000,144.692791,0.000000,0.00000
2,90.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,3.369134,0.000000,...,0.000039,0.000072,0.021129,0.000000,0.000130,0.038417,0.000000,11.351061,0.000000,0.00000
3,209.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,3.299697,0.000000,...,0.000051,0.000095,0.023572,0.000000,0.000177,0.043948,0.000000,10.888001,0.000000,0.00000
4,80.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,3.726269,5.000000,...,0.000101,0.000113,0.037439,0.050236,0.000127,0.041961,0.056305,13.885078,18.631343,25.00000

In [9]:
cont_data_tr = Normalize.z_score(cont_data_tr)
cont_data_tr.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,-0.181588,0.654566,-0.287968,0.176554,0.306907,-0.251638,0.058338,-0.200401,-0.107787,0.525006,...,-0.085188,-0.091120,-0.074569,0.560710,-0.264482,-0.142702,0.437435,-0.071323,0.205948,-0.032414
1,0.715586,-0.619777,-0.304025,0.232307,-0.112868,-1.180759,0.704333,-0.219227,1.483840,-0.497238,...,0.506787,0.353062,1.640122,-0.465881,-0.279339,1.329452,-0.456297,0.228260,-0.353397,-0.199879
2,-0.391147,0.403480,-0.315753,0.130054,1.411887,3.609610,-0.933775,-0.031985,-0.204326,-0.497238,...,-0.777902,-0.727893,-0.326761,-0.465881,-0.128363,-0.206100,-0.456297,-0.079593,-0.353397,-0.199879
3,0.388150,0.382698,-0.315027,-1.121856,1.392203,2.514022,-0.638139,0.648925,-0.217863,-0.497238,...,-0.598904,-0.209256,-0.284030,-0.465881,0.480876,-0.114179,-0.456297,-0.080662,-0.353397,-0.199879
4,-0.456634,-1.266863,0.079157,-0.506367,-0.531206,-0.456673,0.345848,-0.082281,-0.134705,-0.037228,...,0.164553,0.185603,-0.041492,0.038690,-0.169620,-0.147193,-0.041884,-0.073742,-0.110685,-0.165967

In [10]:
y1_data = Normalize.z_score(y1_data)
y1_data.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,-0.181588,0.654566,-0.287939,0.176554,0.309673,-0.251831,0.058335,-0.200400,-0.107787,-0.149367,...,-0.342767,-0.153307,-0.306138,-0.159988,-0.085191,-0.091122,-0.074570,-0.264482,-0.142702,-0.071323
1,0.715586,-0.619777,-0.303996,0.232307,-0.110983,-1.181072,0.704331,-0.219226,1.483840,0.103336,...,-0.944463,-0.512394,-0.941315,0.526252,0.506785,0.353060,1.640122,-0.279338,1.329452,0.228260
2,-0.391147,0.403480,-0.315723,0.130054,1.416971,3.609915,-0.933779,-0.031984,-0.204326,-0.182211,...,4.720352,1.001974,2.503634,0.521734,-0.777905,-0.727896,-0.326761,-0.128362,-0.206100,-0.079593
3,0.388150,0.382698,-0.314998,-1.121856,1.397246,2.514185,-0.638142,0.648926,-0.217863,-0.009951,...,2.863960,0.856662,2.390660,0.282533,-0.598907,-0.209258,-0.284031,0.480877,-0.114179,-0.080662
4,-0.456634,-1.266863,0.079187,-0.506367,-0.530200,-0.456893,0.345846,-0.082281,-0.134705,-0.190441,...,-0.496115,-0.130446,-0.391475,-0.227497,0.164551,0.185601,-0.041492,-0.169619,-0.147193,-0.073742

In [11]:
y1_data = pd.concat([y1_data, data[["C2", "C3'", "one_hot_Manufacturing", "one_hot_Other", "one_hot_Public Services"]]], axis = 1)

y1_data.head()

,0,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,C2,C3',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,-0.181588,0.654566,-0.287939,0.176554,0.309673,-0.251831,0.058335,-0.200400,-0.107787,-0.149367,...,-0.091122,-0.074570,-0.264482,-0.142702,-0.071323,1.0,1,1,0,0
1,0.715586,-0.619777,-0.303996,0.232307,-0.110983,-1.181072,0.704331,-0.219226,1.483840,0.103336,...,0.353060,1.640122,-0.279338,1.329452,0.228260,0.0,0,1,0,0
2,-0.391147,0.403480,-0.315723,0.130054,1.416971,3.609915,-0.933779,-0.031984,-0.204326,-0.182211,...,-0.727896,-0.326761,-0.128362,-0.206100,-0.079593,1.0,0,1,0,0
3,0.388150,0.382698,-0.314998,-1.121856,1.397246,2.514185,-0.638142,0.648926,-0.217863,-0.009951,...,-0.209258,-0.284031,0.480877,-0.114179,-0.080662,1.0,0,1,0,0
4,-0.456634,-1.266863,0.079187,-0.506367,-0.530200,-0.456893,0.345846,-0.082281,-0.134705,-0.190441,...,0.185601,-0.041492,-0.169619,-0.147193,-0.073742,1.0,1,0,0,1

In [12]:
cont_data_tr = pd.concat([cont_data_tr, data[["C2", "C3'", "one_hot_Manufacturing", "one_hot_Other", "one_hot_Public Services"]]], axis = 1)

cont_data_tr.head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,C2,C3',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,-0.181588,0.654566,-0.287968,0.176554,0.306907,-0.251638,0.058338,-0.200401,-0.107787,0.525006,...,-0.142702,0.437435,-0.071323,0.205948,-0.032414,1.0,1,1,0,0
1,0.715586,-0.619777,-0.304025,0.232307,-0.112868,-1.180759,0.704333,-0.219227,1.483840,-0.497238,...,1.329452,-0.456297,0.228260,-0.353397,-0.199879,0.0,0,1,0,0
2,-0.391147,0.403480,-0.315753,0.130054,1.411887,3.609610,-0.933775,-0.031985,-0.204326,-0.497238,...,-0.206100,-0.456297,-0.079593,-0.353397,-0.199879,1.0,0,1,0,0
3,0.388150,0.382698,-0.315027,-1.121856,1.392203,2.514022,-0.638139,0.648925,-0.217863,-0.497238,...,-0.114179,-0.456297,-0.080662,-0.353397,-0.199879,1.0,0,1,0,0
4,-0.456634,-1.266863,0.079157,-0.506367,-0.531206,-0.456673,0.345848,-0.082281,-0.134705,-0.037228,...,-0.147193,-0.041884,-0.073742,-0.110685,-0.165967,1.0,1,0,0,1

In [13]:
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LogisticRegression


estimator = LogisticRegression()
selector = RFECV(estimator, step=1, cv=10)
dfy1 = selector.fit_transform(y1_data, y1)

dfy1 = pd.DataFrame(dfy1)
dfy1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-0.181588,0.176554,0.058335,-0.166205,-0.073619,-0.173917,-0.282286,0.126002,0.148107,-0.153307,-0.306138,-0.091122,1.0,0.0
1,0.715586,0.232307,0.704331,0.774179,-0.073671,-0.179527,-0.297471,0.187801,0.563945,-0.512394,-0.941315,0.353060,0.0,0.0
2,-0.391147,0.130054,-0.933779,-0.386523,-0.073687,-0.186885,-0.308242,0.074778,-0.499583,1.001974,2.503634,-0.727896,1.0,0.0
3,0.388150,-1.121856,-0.638142,0.200508,-0.073687,-0.186440,-0.306640,-1.195491,-0.192683,0.856662,2.390660,-0.209258,1.0,0.0
4,-0.456634,-0.506367,0.345846,-0.495743,-0.063019,0.005073,0.074631,-0.597202,0.082934,-0.130446,-0.391475,0.185601,1.0,0.0

In [15]:
dfy2 = selector.fit_transform(cont_data_tr, y2)
dfy2 = pd.DataFrame(dfy2)
dfy2.head()

          0
0  0.525006
1 -0.497238
2 -0.497238
3 -0.497238
4 -0.037228

In [16]:
dfy2 = Combine.combine(dfy2, y1, y2)
dfy2.columns

Index([0, 'Y1', 'Y2'], dtype='object')

In [17]:
df_combined = pd.concat([dfy1, dfy2], axis = 1)
df_combined.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,0,Y1,Y2
0,-0.181588,0.176554,0.058335,-0.166205,-0.073619,-0.173917,-0.282286,0.126002,0.148107,-0.153307,-0.306138,-0.091122,1.0,0.0,0.525006,0,1
1,0.715586,0.232307,0.704331,0.774179,-0.073671,-0.179527,-0.297471,0.187801,0.563945,-0.512394,-0.941315,0.353060,0.0,0.0,-0.497238,1,0
2,-0.391147,0.130054,-0.933779,-0.386523,-0.073687,-0.186885,-0.308242,0.074778,-0.499583,1.001974,2.503634,-0.727896,1.0,0.0,-0.497238,1,0
3,0.388150,-1.121856,-0.638142,0.200508,-0.073687,-0.186440,-0.306640,-1.195491,-0.192683,0.856662,2.390660,-0.209258,1.0,0.0,-0.497238,1,1
4,-0.456634,-0.506367,0.345846,-0.495743,-0.063019,0.005073,0.074631,-0.597202,0.082934,-0.130446,-0.391475,0.185601,1.0,0.0,-0.037228,0,1

In [18]:
df_combined.to_csv('./Datasets/Kevin23.csv')