# Stuart's D6 Dataset
#### Imputed mean for null values
#### Transformed data using skew_transform_square()
#### Normalized using minmax_scale for null values

In [1]:
import Configure_Dataset 
D6, y1, y2 = Configure_Dataset.configure('Competition1_raw_data.xlsx')
D6.head()

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,122.0,1.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,1,3.864345,11.111111,1,0,0
1,259.0,0.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,0,12.028832,0.000000,1,0,0
2,90.0,1.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,0,3.369134,0.000000,1,0,0
3,209.0,1.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,0,3.299697,0.000000,1,0,0
4,80.0,1.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,1,3.726269,5.000000,0,0,1

In [2]:
D6.isnull().sum()

C1                          0
C2                          0
C4                          0
C7                         60
%_long_sentences            0
%_long_words                3
%_positive_words            3
%_negative_words            2
%_uncertain_words           2
C3'                         0
C5'                         0
C6'                         0
one_hot_Manufacturing       0
one_hot_Other               0
one_hot_Public Services     0
dtype: int64

In [4]:
import Impute
D6 = Impute.impute_mean(D6)

In [5]:
D6.isnull().sum()

C1                         0
C2                         0
C4                         0
C7                         0
%_long_sentences           0
%_long_words               0
%_positive_words           0
%_negative_words           0
%_uncertain_words          0
C3'                        0
C5'                        0
C6'                        0
one_hot_Manufacturing      0
one_hot_Other              0
one_hot_Public Services    0
dtype: int64

In [6]:
#'''input a pandas dataframe of competition one dataset and returns a transformed dataset based on values of skewness for each column.
#    For a single column: 
#        if the value of skew is between [-.5, .5], no transformation takes place.
#        if the value of skew is less than -0.5, perform a square transformation.
#        if the value of skew is greater than .5, perform a square root transformation.
#        '''

import Transform

D6 = Transform.skew_transform_square(D6)
D6.head()

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,11.045361,1.0,0.029074,7.165543,0.410145,0.054250,0.069818,0.095911,0.104540,1,1.965794,3.333333,1,0.0,0
1,16.093477,0.0,-0.013352,5.092740,0.415707,0.051395,0.057080,0.105380,0.104286,0,3.468261,0.000000,1,0.0,0
2,9.486833,1.0,0.020715,2.716247,0.405535,0.061764,0.107669,0.079192,0.106783,0,1.835520,0.000000,1,0.0,0
3,14.456832,1.0,0.020023,2.919932,0.291205,0.061630,0.098420,0.084521,0.115407,0,1.816507,0.000000,1,0.0,0
4,8.944272,1.0,-0.034895,25.145536,0.345054,0.048550,0.067215,0.100236,0.106118,1,1.930355,2.236068,0,0.0,1

In [7]:
#importnumpy ndarray for use in sklearn
import Normalize

D6 = Normalize.minmax_scale(D6)
D6.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.185391,1.0,0.749962,0.039415,0.600637,0.541683,0.406505,0.448253,0.320485,1.0,0.151589,0.333333,1.0,0.0,0.0
1,0.304110,0.0,0.583748,0.027564,0.608782,0.473428,0.232668,0.533978,0.317909,0.0,0.310460,0.000000,1.0,0.0,0.0
2,0.148738,1.0,0.717213,0.013975,0.593885,0.721351,0.923025,0.296906,0.343261,0.0,0.137814,0.000000,1.0,0.0,0.0
3,0.265620,1.0,0.714502,0.015140,0.426455,0.718150,0.796807,0.345143,0.430841,0.0,0.135804,0.000000,1.0,0.0,0.0
4,0.135978,1.0,0.499347,0.142221,0.505314,0.405407,0.370981,0.487407,0.336510,1.0,0.147842,0.223607,0.0,0.0,1.0

In [8]:
import Combine
D6data = Combine.combine(D6, y1, y2)
D6data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,Y1,Y2
0,0.185391,1.0,0.749962,0.039415,0.600637,0.541683,0.406505,0.448253,0.320485,1.0,0.151589,0.333333,1.0,0.0,0.0,0,1
1,0.304110,0.0,0.583748,0.027564,0.608782,0.473428,0.232668,0.533978,0.317909,0.0,0.310460,0.000000,1.0,0.0,0.0,1,0
2,0.148738,1.0,0.717213,0.013975,0.593885,0.721351,0.923025,0.296906,0.343261,0.0,0.137814,0.000000,1.0,0.0,0.0,1,0
3,0.265620,1.0,0.714502,0.015140,0.426455,0.718150,0.796807,0.345143,0.430841,0.0,0.135804,0.000000,1.0,0.0,0.0,1,1
4,0.135978,1.0,0.499347,0.142221,0.505314,0.405407,0.370981,0.487407,0.336510,1.0,0.147842,0.223607,0.0,0.0,1.0,0,1

In [9]:
#export results to csv
import pandas as pd
D6data.to_csv('./Datasets/D6.csv')