# Stuart's D7 Dataset
#### Imputed mean for null values
#### Transformed data using skew_transform_log
#### Normalized using z_score for null values

In [1]:
import Configure_Dataset 
D7, y1, y2 = Configure_Dataset.configure('Competition1_raw_data.xlsx')
D7.head()

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,122.0,1.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,1,3.864345,11.111111,1,0,0
1,259.0,0.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,0,12.028832,0.000000,1,0,0
2,90.0,1.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,0,3.369134,0.000000,1,0,0
3,209.0,1.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,0,3.299697,0.000000,1,0,0
4,80.0,1.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,1,3.726269,5.000000,0,0,1

In [2]:
D7.isnull().sum()

C1                          0
C2                          0
C4                          0
C7                         60
%_long_sentences            0
%_long_words                3
%_positive_words            3
%_negative_words            2
%_uncertain_words           2
C3'                         0
C5'                         0
C6'                         0
one_hot_Manufacturing       0
one_hot_Other               0
one_hot_Public Services     0
dtype: int64

In [3]:
import Impute
D7 = Impute.impute_mean(D7)

In [4]:
D7.isnull().sum()

C1                         0
C2                         0
C4                         0
C7                         0
%_long_sentences           0
%_long_words               0
%_positive_words           0
%_negative_words           0
%_uncertain_words          0
C3'                        0
C5'                        0
C6'                        0
one_hot_Manufacturing      0
one_hot_Other              0
one_hot_Public Services    0
dtype: int64

In [5]:
#'''input a pandas dataframe of competition one dataset and returns a transformed dataset based on values of skewness for each column.
#    For a single column: 
#        if the value of skew is between [-.5, .5], no transformation takes place.
#        if the value of skew is less than -0.5, perform a square transformation.
#        if the value of skew is greater than .5, perform a square root transformation.
#        '''

import Transform

D7 = Transform.skew_transform_log(D7)
D7.head()

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,4.804021,2.718282,0.029074,3.938568,1.897288,0.054250,-5.323718,-4.688678,-4.516378,1.000000e+00,1.351792,2.407946,1.000000e+00,-20.723266,1.000000e-09
1,5.556828,1.000000,-0.013352,3.255632,1.905517,0.051395,-5.726618,-4.500360,-4.521238,1.000000e-09,2.487306,-20.723266,1.000000e+00,-20.723266,1.000000e-09
2,4.499810,2.718282,0.020715,1.998503,1.890452,0.061764,-4.457393,-5.071759,-4.473922,1.000000e-09,1.214656,-20.723266,1.000000e+00,-20.723266,1.000000e-09
3,5.342334,2.718282,0.020023,2.143120,1.715379,0.061630,-4.637032,-4.941521,-4.318578,1.000000e-09,1.193831,-20.723266,1.000000e+00,-20.723266,1.000000e-09
4,4.382027,2.718282,-0.034895,6.449361,1.799327,0.048550,-5.399715,-4.600461,-4.486414,1.000000e+00,1.315407,1.609438,1.000000e-09,-20.723266,1.000000e+00

In [6]:
#importnumpy ndarray for use in sklearn
import Normalize

D7 = Normalize.z_score(D7)
D7.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.069129,0.404995,0.654566,-0.407049,0.146508,0.310453,-0.105806,0.217328,-0.099593,1.046536,0.059313,1.269239,1.003035,-0.347193,-0.806226
1,1.192960,-2.469165,-0.619777,-0.753351,0.205661,-0.110317,-1.352840,0.819398,-0.120554,-0.955533,2.295653,-0.787897,1.003035,-0.347193,-0.806226
2,-0.385014,0.404995,0.403480,-1.390815,0.097368,1.418052,2.575594,-1.007418,0.083530,-0.955533,-0.210771,-0.787897,1.003035,-0.347193,-0.806226
3,0.872752,0.404995,0.382698,-1.317483,-1.161107,1.398322,2.019584,-0.591036,0.753556,-0.955533,-0.251784,-0.787897,1.003035,-0.347193,-0.806226
4,-0.560847,0.404995,-1.266863,0.866123,-0.557667,-0.529648,-0.341027,0.499367,0.029650,1.046536,-0.012345,1.198225,-0.996974,-0.347193,1.240347

In [7]:
import Combine
D7data = Combine.combine(D7, y1, y2)
D7data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,Y1,Y2
0,0.069129,0.404995,0.654566,-0.407049,0.146508,0.310453,-0.105806,0.217328,-0.099593,1.046536,0.059313,1.269239,1.003035,-0.347193,-0.806226,0,1
1,1.192960,-2.469165,-0.619777,-0.753351,0.205661,-0.110317,-1.352840,0.819398,-0.120554,-0.955533,2.295653,-0.787897,1.003035,-0.347193,-0.806226,1,0
2,-0.385014,0.404995,0.403480,-1.390815,0.097368,1.418052,2.575594,-1.007418,0.083530,-0.955533,-0.210771,-0.787897,1.003035,-0.347193,-0.806226,1,0
3,0.872752,0.404995,0.382698,-1.317483,-1.161107,1.398322,2.019584,-0.591036,0.753556,-0.955533,-0.251784,-0.787897,1.003035,-0.347193,-0.806226,1,1
4,-0.560847,0.404995,-1.266863,0.866123,-0.557667,-0.529648,-0.341027,0.499367,0.029650,1.046536,-0.012345,1.198225,-0.996974,-0.347193,1.240347,0,1

In [9]:
#export results to csv
import pandas as pd
D7data.to_csv('./Datasets/D7.csv')