### K

- transform - log
- imp; bins median
- norm; MINMAX

In [1]:
import Configure_Dataset 
df, y1, y2 = Configure_Dataset.configure('Competition1_raw_data.xlsx')
df.head(10)

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,122.0,1.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,1,3.864345,11.111111,1,0,0
1,259.0,0.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,0,12.028832,0.000000,1,0,0
2,90.0,1.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,0,3.369134,0.000000,1,0,0
3,209.0,1.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,0,3.299697,0.000000,1,0,0
4,80.0,1.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,1,3.726269,5.000000,0,0,1
5,94.0,1.0,-0.057556,197.591,0.643137,0.045280,0.003445,0.005334,0.010056,1,5.724394,0.000000,0,0,1
6,128.0,1.0,0.004106,5.146,0.765657,0.044295,0.005204,0.006727,0.008567,0,3.463095,0.000000,1,0,0
7,91.0,0.0,0.040620,NaN,0.826347,NaN,0.004899,0.010689,0.010868,0,2.421469,0.000000,1,0,0
8,100.0,1.0,-0.029316,279.600,0.540323,0.061905,0.003915,0.008371,0.015797,0,4.816591,0.000000,0,0,1
9,106.0,1.0,-0.024925,494.008,0.514286,0.050252,0.008868,0.009853,0.016094,1,3.056608,0.000000,1,0,0

In [2]:
from Transform import skew_transform_log
df = skew_transform_log(df)

In [3]:
import ImputeUsingBins
df = ImputeUsingBins.impute_bin_median(df)

In [4]:
df.isnull().sum()

C1                         0
C2                         0
C4                         0
C7                         0
%_long_sentences           0
%_long_words               0
%_positive_words           0
%_negative_words           0
%_uncertain_words          0
C3'                        0
C5'                        0
C6'                        0
one_hot_Manufacturing      0
one_hot_Other              0
one_hot_Public Services    0
dtype: int64

In [5]:
df.head(10)

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,4.804021,2.718282,0.029074,3.938568,1.897288,0.054250,-5.323718,-4.688678,-4.516378,1.000000e+00,1.351792,2.407946,1.000000e+00,-20.723266,1.000000e-09
1,5.556828,1.000000,-0.013352,3.255632,1.905517,0.051395,-5.726618,-4.500360,-4.521238,1.000000e-09,2.487306,-20.723266,1.000000e+00,-20.723266,1.000000e-09
2,4.499810,2.718282,0.020715,1.998503,1.890452,0.061764,-4.457393,-5.071759,-4.473922,1.000000e-09,1.214656,-20.723266,1.000000e+00,-20.723266,1.000000e-09
3,5.342334,2.718282,0.020023,2.143120,1.715379,0.061630,-4.637032,-4.941521,-4.318578,1.000000e-09,1.193831,-20.723266,1.000000e+00,-20.723266,1.000000e-09
4,4.382027,2.718282,-0.034895,6.449361,1.799327,0.048550,-5.399715,-4.600461,-4.486414,1.000000e+00,1.315407,1.609438,1.000000e-09,-20.723266,1.000000e+00
5,4.543295,2.718282,-0.057556,5.286199,1.902440,0.045280,-5.670937,-5.233723,-4.599574,1.000000e+00,1.744737,-20.723266,1.000000e-09,-20.723266,1.000000e+00
6,4.852030,2.718282,0.004106,1.638220,2.150406,0.044295,-5.258384,-5.001664,-4.759829,1.000000e-09,1.242163,-20.723266,1.000000e+00,-20.723266,1.000000e-09
7,4.510860,1.000000,0.040620,4.288050,2.284957,0.052457,-5.318654,-4.538496,-4.521967,1.000000e-09,0.884374,-20.723266,1.000000e+00,-20.723266,1.000000e-09
8,4.605170,2.718282,-0.029316,5.633360,1.716561,0.061905,-5.542817,-4.782979,-4.147939,1.000000e-09,1.572066,-20.723266,1.000000e-09,-20.723266,1.000000e+00
9,4.663439,2.718282,-0.024925,6.202552,1.672443,0.050252,-4.725310,-4.619949,-4.129326,1.000000e+00,1.117306,-20.723266,1.000000e+00,-20.723266,1.000000e-09

In [6]:
from Normalize import minmax_scale
df=minmax_scale(df)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.468355,1.0,0.749962,0.505773,0.698302,0.541683,0.534621,0.596171,0.420757,1.0,0.445611,0.913251,1.0,0.0,0.0
1,0.609306,0.0,0.583748,0.452977,0.704706,0.473428,0.341012,0.673466,0.417913,0.0,0.639234,0.000000,1.0,0.0,0.0
2,0.411396,1.0,0.717213,0.355790,0.692982,0.721351,0.950924,0.438935,0.445610,0.0,0.422227,0.000000,1.0,0.0,0.0
3,0.569146,1.0,0.714502,0.366970,0.556734,0.718150,0.864600,0.492391,0.536545,0.0,0.418676,0.000000,1.0,0.0,0.0
4,0.389343,1.0,0.499347,0.699880,0.622065,0.405407,0.498102,0.632380,0.438298,1.0,0.439407,0.881725,0.0,0.0,1.0

In [7]:
import Combine
K = Combine.combine(df, y1, y2)
K.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,Y1,Y2
0,0.468355,1.0,0.749962,0.505773,0.698302,0.541683,0.534621,0.596171,0.420757,1.0,0.445611,0.913251,1.0,0.0,0.0,0,1
1,0.609306,0.0,0.583748,0.452977,0.704706,0.473428,0.341012,0.673466,0.417913,0.0,0.639234,0.000000,1.0,0.0,0.0,1,0
2,0.411396,1.0,0.717213,0.355790,0.692982,0.721351,0.950924,0.438935,0.445610,0.0,0.422227,0.000000,1.0,0.0,0.0,1,0
3,0.569146,1.0,0.714502,0.366970,0.556734,0.718150,0.864600,0.492391,0.536545,0.0,0.418676,0.000000,1.0,0.0,0.0,1,1
4,0.389343,1.0,0.499347,0.699880,0.622065,0.405407,0.498102,0.632380,0.438298,1.0,0.439407,0.881725,0.0,0.0,1.0,0,1

In [8]:
import pandas as pd
K.to_csv('./Datasets/K_tl.csv')