# Stuart's A8 Dataset
#### Transformed skew_transform_square for null values
#### Imputed mean for null values
#### Normalized using z_score for null values
#### used RFE to recommend best variables from A8

In [1]:
import Configure_Dataset 
A8, y1, y2 = Configure_Dataset.configure('Competition1_raw_data.xlsx')
A8.head()

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,122.0,1.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,1,3.864345,11.111111,1,0,0
1,259.0,0.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,0,12.028832,0.000000,1,0,0
2,90.0,1.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,0,3.369134,0.000000,1,0,0
3,209.0,1.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,0,3.299697,0.000000,1,0,0
4,80.0,1.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,1,3.726269,5.000000,0,0,1

In [2]:
A8.isnull().sum()

C1                          0
C2                          0
C4                          0
C7                         60
%_long_sentences            0
%_long_words                3
%_positive_words            3
%_negative_words            2
%_uncertain_words           2
C3'                         0
C5'                         0
C6'                         0
one_hot_Manufacturing       0
one_hot_Other               0
one_hot_Public Services     0
dtype: int64

In [3]:
import Transform

In [4]:
#transform data with square root 
A8 = Transform.skew_transform_square(A8)

In [5]:
A8.head()

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,11.045361,1.0,0.029074,7.165543,0.410145,0.054250,0.069818,0.095911,0.104540,1,1.965794,3.333333,1,0.0,0
1,16.093477,0.0,-0.013352,5.092740,0.415707,0.051395,0.057080,0.105380,0.104286,0,3.468261,0.000000,1,0.0,0
2,9.486833,1.0,0.020715,2.716247,0.405535,0.061764,0.107669,0.079192,0.106783,0,1.835520,0.000000,1,0.0,0
3,14.456832,1.0,0.020023,2.919932,0.291205,0.061630,0.098420,0.084521,0.115407,0,1.816507,0.000000,1,0.0,0
4,8.944272,1.0,-0.034895,25.145536,0.345054,0.048550,0.067215,0.100236,0.106118,1,1.930355,2.236068,0,0.0,1

In [6]:
import Impute
A8 = Impute.impute_mean(A8)

In [7]:
A8.isnull().sum()

C1                         0
C2                         0
C4                         0
C7                         0
%_long_sentences           0
%_long_words               0
%_positive_words           0
%_negative_words           0
%_uncertain_words          0
C3'                        0
C5'                        0
C6'                        0
one_hot_Manufacturing      0
one_hot_Other              0
one_hot_Public Services    0
dtype: int64

In [8]:
import Normalize

In [9]:
#transorm a pandas dataframe using a z-score transformation returns a pandas dataframe
A8 = Normalize.z_score(A8)

In [10]:
A8.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-0.090778,0.404995,0.654566,-0.526217,0.126002,0.310453,-0.183236,0.138658,-0.153480,1.046536,-0.061700,1.048837,1.003035,-0.347193,-0.806226
1,1.071518,-2.469165,-0.619777,-0.658606,0.187801,-0.110317,-1.280911,0.775051,-0.173644,-0.955533,2.318974,-0.707815,1.003035,-0.347193,-0.806226
2,-0.449619,0.404995,0.403480,-0.810392,0.074778,1.418052,3.078262,-0.984884,0.024778,-0.955533,-0.268120,-0.707815,1.003035,-0.347193,-0.806226
3,0.694691,0.404995,0.382698,-0.797383,-1.195491,1.398322,2.281277,-0.626791,0.710231,-0.955533,-0.298247,-0.707815,1.003035,-0.347193,-0.806226
4,-0.574540,0.404995,-1.266863,0.622161,-0.597202,-0.529648,-0.407551,0.429323,-0.028063,1.046536,-0.117854,0.470583,-0.996974,-0.347193,1.240347

In [11]:
import Combine
A8data = Combine.combine(A8, y1, y2)
A8data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,Y1,Y2
0,-0.090778,0.404995,0.654566,-0.526217,0.126002,0.310453,-0.183236,0.138658,-0.153480,1.046536,-0.061700,1.048837,1.003035,-0.347193,-0.806226,0,1
1,1.071518,-2.469165,-0.619777,-0.658606,0.187801,-0.110317,-1.280911,0.775051,-0.173644,-0.955533,2.318974,-0.707815,1.003035,-0.347193,-0.806226,1,0
2,-0.449619,0.404995,0.403480,-0.810392,0.074778,1.418052,3.078262,-0.984884,0.024778,-0.955533,-0.268120,-0.707815,1.003035,-0.347193,-0.806226,1,0
3,0.694691,0.404995,0.382698,-0.797383,-1.195491,1.398322,2.281277,-0.626791,0.710231,-0.955533,-0.298247,-0.707815,1.003035,-0.347193,-0.806226,1,1
4,-0.574540,0.404995,-1.266863,0.622161,-0.597202,-0.529648,-0.407551,0.429323,-0.028063,1.046536,-0.117854,0.470583,-0.996974,-0.347193,1.240347,0,1

In [12]:
#export results to csv
import pandas as pd
A8data.to_csv('./Datasets/A8.csv')

In [14]:
# Import your necessary dependencies
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [15]:
array = A8data.values
X = array[:,0:14] #features
Y = array[:,-2:-1] #target

In [16]:
# Feature extraction
model = LogisticRegression()
rfe = RFE(model)
fit = rfe.fit(X, Y)
print("Num Features: %s" % (fit.n_features_))
print("Selected Features: %s" % (fit.support_))
print("Feature Ranking: %s" % (fit.ranking_))

Num Features: 7
Selected Features: [False False False  True  True  True  True  True False False False  True
 False  True]
Feature Ranking: [5 6 2 1 1 1 1 1 8 7 3 1 4 1]

/opt/tljh/user/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# for Y1
# columns to use: 3, 4, 5, 6, 7
# Column 11 is C6' and has overlapping inputs with Y1 which correlates perfectly and skews the evaluation score way too high

In [17]:
array = A8data.values
X = array[:,0:14] #features
Y = array[:,-1] #target

In [18]:
# Feature extraction
model = LogisticRegression()
rfe = RFE(model)
fit = rfe.fit(X, Y)
print("Num Features: %s" % (fit.n_features_))
print("Selected Features: %s" % (fit.support_))
print("Feature Ranking: %s" % (fit.ranking_))

Num Features: 7
Selected Features: [False  True  True False False False  True  True  True False  True  True
 False False]
Feature Ranking: [6 1 1 4 8 2 1 1 1 5 1 1 3 7]

# for Y2
# columns to use: 1, 2, 6, 7, 8, 10, 11