# Stuart's AA Dataset
#### Imputed mean for null values
#### Normalized using minmax for null values
#### Transformed skew_transform_square for null values

In [4]:
import Configure_Dataset 
AA, y1, y2 = Configure_Dataset.configure('Competition1_raw_data.xlsx')
AA.head()

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,122.0,1.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,1,3.864345,11.111111,1,0,0
1,259.0,0.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,0,12.028832,0.000000,1,0,0
2,90.0,1.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,0,3.369134,0.000000,1,0,0
3,209.0,1.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,0,3.299697,0.000000,1,0,0
4,80.0,1.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,1,3.726269,5.000000,0,0,1

In [5]:
AA.isnull().sum()

C1                          0
C2                          0
C4                          0
C7                         60
%_long_sentences            0
%_long_words                3
%_positive_words            3
%_negative_words            2
%_uncertain_words           2
C3'                         0
C5'                         0
C6'                         0
one_hot_Manufacturing       0
one_hot_Other               0
one_hot_Public Services     0
dtype: int64

In [6]:
import Impute
AA = Impute.impute_mean(AA)

In [7]:
AA.isnull().sum()

C1                         0
C2                         0
C4                         0
C7                         0
%_long_sentences           0
%_long_words               0
%_positive_words           0
%_negative_words           0
%_uncertain_words          0
C3'                        0
C5'                        0
C6'                        0
one_hot_Manufacturing      0
one_hot_Other              0
one_hot_Public Services    0
dtype: int64

In [8]:
import Normalize

In [10]:
AA = Normalize.minmax_scale(AA)

In [13]:
AA.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.053924,1.0,0.749962,0.001671,0.775008,0.541683,0.291209,0.313837,0.232749,1.0,0.035990,0.111111,1.0,0.0,0.0
1,0.119884,0.0,0.583748,0.000843,0.780245,0.473428,0.147348,0.398734,0.230548,0.0,0.118042,0.000000,1.0,0.0,0.0
2,0.038517,1.0,0.717213,0.000238,0.770640,0.721351,0.889070,0.183452,0.252440,0.0,0.031013,0.000000,1.0,0.0,0.0
3,0.095811,1.0,0.714502,0.000275,0.653036,0.718150,0.719433,0.222305,0.332049,0.0,0.030315,0.000000,1.0,0.0,0.0
4,0.033702,1.0,0.499347,0.020605,0.710854,0.405407,0.259462,0.351622,0.246559,1.0,0.034602,0.050000,0.0,0.0,1.0

In [15]:
import Transform

In [18]:
AA = Transform.skew_transform_square(AA)

In [19]:
AA.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.481887,1.0,0.749962,0.202183,0.600637,0.541683,0.539638,0.560212,0.482441,1.0,0.435557,0.577350,1.0,0.0,0.0
1,0.588424,0.0,0.583748,0.170389,0.608782,0.473428,0.383859,0.631454,0.480155,0.0,0.586150,0.000000,1.0,0.0,0.0
2,0.443010,1.0,0.717213,0.124213,0.593885,0.721351,0.942905,0.428313,0.502434,0.0,0.419648,0.000000,1.0,0.0,0.0
3,0.556358,1.0,0.714502,0.128830,0.426455,0.718150,0.848194,0.471492,0.576237,0.0,0.417268,0.000000,1.0,0.0,0.0
4,0.428465,1.0,0.499347,0.378873,0.505314,0.405407,0.509375,0.592977,0.496548,1.0,0.431296,0.472871,0.0,0.0,1.0

In [20]:
import Combine
AAdata = Combine.combine(AA, y1, y2)
AAdata.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,Y1,Y2
0,0.481887,1.0,0.749962,0.202183,0.600637,0.541683,0.539638,0.560212,0.482441,1.0,0.435557,0.577350,1.0,0.0,0.0,0,1
1,0.588424,0.0,0.583748,0.170389,0.608782,0.473428,0.383859,0.631454,0.480155,0.0,0.586150,0.000000,1.0,0.0,0.0,1,0
2,0.443010,1.0,0.717213,0.124213,0.593885,0.721351,0.942905,0.428313,0.502434,0.0,0.419648,0.000000,1.0,0.0,0.0,1,0
3,0.556358,1.0,0.714502,0.128830,0.426455,0.718150,0.848194,0.471492,0.576237,0.0,0.417268,0.000000,1.0,0.0,0.0,1,1
4,0.428465,1.0,0.499347,0.378873,0.505314,0.405407,0.509375,0.592977,0.496548,1.0,0.431296,0.472871,0.0,0.0,1.0,0,1