# Competition 1

## the purpose of this notebook is yada yada yada

backround info on the topic

directions as to what we did (to be filled out later)

here are our steps

In [2]:
# importing proper libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import sklearn

Here is the data dictionary in used as a reference of column names.
![Variable Dictionary](data_dictionary.PNG)

In [6]:
# create an initial data frame from data supplied to us
df  = pd.read_excel('Competition1_raw_data.xlsx', header=0,)
df.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10,9.5,8.5,11.87,122,1,3.43,...,10600000,51.345,470,12719,11560,301,690,62,117,139
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,2400000,25.936,791,21792,19585,510,1120,71,242,237
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,5000000,7.378,201,5262,4785,128,325,61,33,60
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,4500000,8.526,328,8259,7574,177,509,80,59,110
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,8250000,632.298,572,14830,13176,336,720,67,149,167

## let's do some prelimanry EDA to get a sense of what we are dealing with

## First, let's look at some characteristics including data types, count, and simple distributions

In [11]:
# let's look at column values and their types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 22 columns):
I1         682 non-null object
I2         682 non-null object
I3         682 non-null object
P(IPO)     682 non-null object
P(H)       682 non-null object
P(L)       682 non-null object
P(1Day)    682 non-null object
C1         682 non-null object
C2         682 non-null object
C3         682 non-null object
C4         682 non-null object
C5         682 non-null object
C6         682 non-null object
C7         682 non-null object
T1         682 non-null object
T2         682 non-null object
T3         682 non-null object
T4         682 non-null object
T5         682 non-null object
S1         682 non-null object
S2         682 non-null object
S3         682 non-null object
dtypes: object(22)
memory usage: 117.3+ KB

Hmm, every column is classified as an object. We know that some columns, like C1 should be at least an integer. let's look at a couple of columns to see if they all share a common source error.

In [13]:
df['C1'].value_counts()

-      22
93     15
84     14
77     13
92     13
112    12
91     12
119    12
85     11
78     10
100    10
76     10
104    10
111    10
94     10
98      9
105     9
79      8
147     7
140     7
89      7
83      7
70      7
90      7
72      7
124     7
106     7
107     7
118     6
133     6
       ..
161     1
506     1
153     1
658     1
131     1
203     1
206     1
257     1
25      1
251     1
243     1
307     1
241     1
240     1
237     1
234     1
233     1
230     1
227     1
207     1
226     1
225     1
736     1
223     1
222     1
218     1
217     1
215     1
213     1
520     1
Name: C1, Length: 245, dtype: int64

There are 22 instances of "-", which, as described by the data dictionary, is a missing value. This format is not very useful, so we will convert all '-' to NaN values.

In [41]:
df = df.replace('-', np.NaN)

df.head(20)

AS OF NOW, WE HAVE LOADED A DATAFRAME AND REPLACED ALL "-" WITH NAN VALUES.